{% extends 'base.html' %}
{% load get_item %}

{% block content %}
<h2 class="mb-3">{{board.title}}</h2>
<div class="row row-cols-4" x-data>
    {% for status, display in statuses %}
    <div class="col">
        <div class="text-center p-3 bg-secondary rounded text-white mb-3">{{ display }}</div>
        <div class="vstack gap-2 h-100" x-sort="$store.board.dragHandler($item, '{{status}}')" x-sort:group="kanban">
            <template x-for="task in $store.board.tasks.filter(t => t.status === '{{ status }}')">
                <div class="card" data-type="task" :data-task-id="task.id" x-sort:item="task.id">
                    <div class="card-body" x-text="task.title"></div>
                </div>
            </template>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
<script>
    const centrifuge = new Centrifuge("ws://localhost:8081/connection/websocket");
    const sub = centrifuge.newSubscription("tasks-{{board.id}}");

    centrifuge.connect();

    document.addEventListener('alpine:init', () => {
        sub.on('publication', function (ctx) {
            const { id: taskId, boardId, ...data } = ctx.data;
            Alpine.store('board').updateTask(taskId, data)
        }).subscribe();

        Alpine.store('board', {
            tasks: [],

            async init() {
                const response = await fetch('/api/tasks/?board={{ board.id }}');
                this.tasks = await response.json();
            },

            updateTask(id, data) {
                const task = this.tasks.find(t => t.id === id);
                Object.assign(task, data);
            },

            dragHandler(taskId, status) {
                fetch(`/api/tasks/${taskId}/`, {
                    method: 'PATCH',
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ status })
                })
            }
        })
    })
</script>
{% endblock %}